{% extends 'core/base.html' %}

{% load static %}
{% block content %}
<br>
<div style="padding: 10%;margin-bottom: 20%;">
<main role="main">
    <div class="container">
      <div class="row mt-3 mb-5">
        <div class="col-md-9 mx-auto">
          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
              {{ form.as_p }}
            <div class="text-center">
              <a href="{% url 'detail_create' %}"> <h6 class="text-primary menu-price">Add Product <span class="icon-add-to-list"></span></h6></a>
              <input type="submit" class="btn btn-primary btn-block" value="Save" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}