{% extends 'core/base.html' %}

{% load static %}
{% block content %}
<div style="margin-top: 3%;">
  <div class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cat" aria-controls="cat" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Categories
      </button>
        <div class="collapse navbar-collapse" id="cat">
          <ul class="navbar-nav mr-auto">
            {% for category in categories %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menu_category' category.id %}"><i  class="btn btn-info btn-sm">{{category.description}}</i></a>
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
</div>
{% if 'updated' in request.GET %}
  <p style="color:green;">Product edited successfully !!! </p>
{% endif %}
<div style="margin: 50px;">{% include 'products/includes/products_menu.html'%}</div>
<section class="ftco-section" style="margin: -7.5%;;margin-bottom: 10px;">
  <div class="container" >
    <div class="row">
      <div class="col-md-12 text-center mb-5 ftco-animate">
        <h4 class="ftco-sub-title">{{ object.menu }}</h4>
        {% if object.category_product  %}
        <p class="ftco-sub-title">{% for category in object.category_product.all %}
              {{ category.description }}
          {% endfor %}</p>
        {% endif %}
        <h2 class="display-4">{{ object.name }}</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div >
            <div class="item">
              <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
                {% if object.image.url %}
                <a href="{{ object.image.url }}" class="ftco-thumbnail image-popup">
                  <img src="{{ object.image.url }}" alt="" class="img-fluid" style=" width: 450px;height: 450px; object-fit: cover;" >
                </a>
                {% endif %}
                <div class="media-body p-md-5 p-4">
                  <h5 class="text-primary">${{ object.price }}</h5>
                  <p class="mb-4">{{ object.description|safe }}</p>

                  <p class="mb-0"><a href="{% url 'detail_create' %}" class="btn btn-primary btn-sm">Order Now!</a></p>
                </div>
                {% if request.user.is_staff %}
                    <p class="btn btn-info btn-sm"> <a style="color: white; " href="{% url 'update_product' object.id %}">Edit</a></p>
                    <p class="btn btn-danger  btn-sm"><a style="color: white; " href="{% url 'delete_product' object.id %}">Delete</a></p>
                {% endif %}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}