{% extends 'core/base.html' %}

{% load static %}
{% block content %}

  <div style="margin: 50px;">{% include 'blog/includes/menu_posts.html'%}</div>
  {% if 'deleted' in request.GET %}
  <div class="row align-items-center justify-content-center text-center">
    <p style="color: rgb(68, 216, 48);">Post eliminated successfully!!!</p>
  </div>
  {% elif 'ok' in request.GET %}
  <div class="row align-items-center justify-content-center text-center">
    <p style="color: rgb(68, 216, 48);">Post accepted!!!</p>
  </div>
  {% elif 'nop' in request.GET %}
  <div class="row align-items-center justify-content-center text-center">
    <p style="color: red;">El post infrige las normas del blog!!!</p>
  </div>
  {% elif 'create' in request.GET %}
  <div class="row align-items-center justify-content-center text-center">
    <p style="color: rgb(0, 0, 0);font-size: 150%;">Your post is on revission now and will be posted soon </p>
  </div>
  {% endif %}

  <section class="ftco-section bg-light" id="section-news">
    <div class="container">
      <div class="row"></div>
        {% for post in posts %}
          <div class="media d-block mb-5 text-center ftco-media ftco-animate">
            <div class="media-body p-md-5 p-4">
              <a href="{% url 'post_detail' post.id %}"><h5 class="mt-0 h4">{{ post.title }}</h5></a>
            </div>
            {% if post.image %}
            <a href="{{ post.image.url }}" class="ftco-thumbnail image-popup">
              <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid" style="width: 500px;height: 500px; object-fit: cover;">
            </a>
            {% endif %}
            <div class="media-body p-md-5 p-4">
            

              <h3 class="ftco-heading ftco-animate mb-3"></h3>
              <p class="ftco-heading ftco-animate mb-3">{{post.content|linebreaksbr|truncatechars_html:150 }}</p>    
              <p class="mb-0"><a href="{% url 'post_detail_revission' post.id %}"  class="btn btn-success btn-sm">Review</a></p>
              <p>
                <a href="{% url 'profile' post.author.profile.id %}"  class="btn ftco-animate" ><span style="color: black;" class="icon-users "></span><span> {{post.author.username}}</span></a>
                <a href="{% url 'post_category' post.category_post.id %}"  class="btn ftco-animate" ><span style="color: black;" class="icon-price-tag "></span> {{post.category_post}}</a>
                <p class="ftco-heading ftco-animate mb-3">{{post.created|date:"SHORT_DATE_FORMAT"}}</p>
              </p>
              <p>
                <span class="icon-eye" style="color: gray;"> {{post.vistas}} </span>
                <span class="icon-typing " style="color:gray;">{{post.comments_post.count}} </span>
                <span  class="icon-thumbs-up "style="color:dodgerblue;">{{ post.like.count }} </span><span  class=" icon-thumbs-down " style="color:dodgerblue;">{{ post.dislike.count }} </span>
                {%if request.user in post.fav.all %}
                    <span class="icon-star" style="color: gold;"></span>
                {% else %}
                    <span class="icon-star" style="color: gray;"></span>
                {% endif %}
              </p>
            </div>
          </div>
          
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- END section -->
{%endblock%}
