{% extends 'core/base.html' %}

{% load static %}
{% block content %}
<section class="ftco-section" id="section-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-center mb-5 ftco-animate">
        <h2 class="display-4">Following</h2>
        <div class="row justify-content-center">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-12 text-left">
      <div class="tab-content text-left">
          <div class="tab-pane fade show active" >
            <div class="row">
              {% for user in following %}
              <div class="col-md-6 ftco-animate">
                <div class="media menu-item">
                  {% if user.image %}
                    <a href="{% url 'profile' user.profile.id %}" ><img  src="{{user.image.url}}"  class="rounded-circle" style=" width: 50px;height: 50px; object-fit: cover;" alt=""></a>
                  {% else %}
                    <a href="{% url 'profile' user.profile.id %}" ><img  src="https://pruebacroqueto.s3.us-east-2.amazonaws.com/users/no-avatar.jpg"  class="rounded-circle" style=" width: 50px;height: 50px; object-fit: cover;" alt=""></a>
                  {% endif %}
                  <a href="{% url 'profile' user.profile.pk %}" ><span class="btn  ftco-animate" style="color: black;">{{user.username}}</span></a></div>   
                  
              </div>
              {% endfor %} 
                </div>
          </div>
        </div>
      </div> 
    </div>


    <div class="container" style="margin-bottom: 5%;margin-top: 5%;">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-7 ">
          {% if following.has_previous %}
              <a href="?page={{ following.previous_page_number }}" class="btn btn-dark float-left">Back</a>
          {% endif %}
          {% if following.has_next %}
              <p class="col-md-9 float-right"><a href="?page={{ following.next_page_number }}" class="btn btn-dark ">Next</a></p>
          {% endif %}
        </div>
      </div>
  </div>
</section>
    
{%endblock%}

